.bicicletas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url(../../img/dec/top-right.svg) no-repeat top 40px right 20px;
}

.bicicletas-imagem{
    display: grid;
}

.bicicletas-imagem img{
    grid-area: 1/1;
}

.bicicletas-imagem span{
    grid-area: 1/1;
    place-self: start end;
    margin-top: 20px;
    background-color: var(--cor-12);
    padding: 8px 16px 8px 8px;
    border-radius: 5px 0 0 5px
}

.bicicletas-bg{
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%)
}

.bicicletas-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
}

.bicicletas h2{
    margin-bottom: 20px;
    grid-column: 1/-1;
}

.bicicletas h2::before{
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background: var(--cor-p1);
    margin-bottom: 8px;

}


.bicicletas p{
    margin-bottom: 32px;
    grid-column: 1/-1;

}

.bicicletas ul{
    display: grid;
    gap: 16px;
}

.bicicletas-conteudo img{
    max-width: 24px;
}
.bicicletas li{
    display: flex;
    gap: 8px;
    align-items: center;
}

.bicicletas-conteudo a{
    place-self: end;
}

@media(max-width: 800px){
    .bicicletas{
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 20px
    }

    .bicicletas-bg{
        background: var(--cor-11);
    }
}

@media( max-width: 600px){
    .bicicletas ul{
        grid-column: 1/-1;
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
        
    }

    .bicicletas-conteudo a{
        grid-column: 1/-1;
        place-self: start;
    }
}